.cabecalho {
    display: flex;
    padding: 40px 135px 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
 
nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
 
.shop {
    display: flex;
    align-items: center;
    gap: 16px;
}
 
.busca {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #F5F5F5;
    padding: 10px 12px 10px 20px;
}
 
.item {
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
}
 
.lista {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 48px;
}

.campo {
    background: none;
    border: none;
    outline: none;
}